<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link rel="stylesheet" >

</head>
<body>

    <div class = "actions">
        <header>Actions</header>
        <ul>
            <li>Accueil</li>
            <li>Tous les CV</li>
            <li>Mes CV</li>
            <li>Tous les dossiers de candidature</li>
            <li>Mes dossier de candidature</li>
            <li>Mes entretiens</li>
        </ul>


    </div>


    <form align="right" name="form1" method="post" (ngSubmit)= "logout()">
        <label class="logoutLblPos">
        <input name="submit2" type="submit" id="submit2" value="logout">
        </label>
    </form>

</body>
</html>