<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link rel="stylesheet" >

</head>


<body>

    


    <fieldset class="actions">
        <legend>Actions</legend>
        <ul>
            <li> <a href=''>Accueil</a> </li>
            <li> <a href='allcv'>Tous les CV</a> </li>
            <li> <a href='mycv'>Mes CV</a> </li>
            <li> <a href='allcand'>Tous les dossiers de candidature</a> </li>
            <li> <a href='mycand'>Mes dossiers de candidature</a> </li>
            <li> <a href='interview'>Mes entretiens</a> </li>
        </ul>

        <div class="layout"> 
            <router-outlet></router-outlet>
        </div>   

    </fieldset>

    


    <form align="right" name="form1" method="post" (ngSubmit)= "logout()">
        <label class="logoutLblPos">
        <input name="submit2" type="submit" id="submit2" value="logout">
        </label>
    </form>

</body>
</html>

