@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
    font-family: 'Lato', sans-serif;
  }
  *{
    margin : 10px;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  .actions{
    position: relative;
    left: 20px;
    margin: 50px;
    width: 355px;
    height: 571px;
    border: solid;
    border-width: 2px;
    top: 70px;
  }

  .actions header{
    font-size: 22px;
    color: black;
  }

  .actions ul {
    display: block;
    line-height: 55px;
  }

  li {
    border: solid;
    width: 106.5%;
    position: relative;
    text-align: center;
    left: -21px;
    height: 15%;
    border-width: 1px;
    background-color: #caf6cc;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  a {
    display:        flex;
    flex-grow:      1;
    flex-shrink:    1;
    justify-content: center;
    text-align: center;
    color: black;
    transition: .4s;
    
  }

  ul li:hover a{
    padding-left: 50px;
  }


.layout{
  position: relative;
  right: -70px;
  margin-right: auto;
}

.logoutLblPos{

    position:fixed;
    right:10px;
    top:5px;
 }